// Global vuetify style ovverides

$container-padding-x: 16px;

$btn-text-transform: 'capitalize';

// Vuetify Variables
$body-font-family: 'Poppins';
$title-font: 'Poppins';

.v-application {
    font-family: $body-font-family, sans-serif !important;
     .title { // To pin point specific classes of some components
        font-family: $title-font, sans-serif !important;
     }
}
