//Headings
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.75rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

//Buttons
#contact {
  .v-btn{
    background-color: #424242;
    color: #bdbdbd !important;
  }
  .v-btn:hover{
    color: #ffffff !important;
  }

}

a {
  font-family: 'Roboto', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

//Vue-typer component
.vue-typer {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 1;
}

.vue-typer .custom.char.typed {
  color: #ffffff;
}

//MY Name
#profile-name {
  font-family: 'Mr De Haviland', 'Poppins', sans-serif;
  font-size: 3.25rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

// Page Sections
section {
  padding: 2rem 0;
  &:nth-child(2n + 1) {
    background-color: #fafafa;
  }
  &.hero {
    padding-top: calc(7rem + 96px);
    color: #ffffff;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 2.75rem;
  }
  .vue-typer {
    font-size: 2.75rem;
  }
}